---
import MainLayout from "@layouts/MainLayout.astro";

const supabaseBucket = import.meta.env.PUBLIC_SUPABASE_BUCKET;
---

<MainLayout pageTitle="About">
  <div class="w-full lg:w-1/2">
    <article class="leading-6 flex flex-col gap-4">
      <div class="w-full h-full">
        <img
          class="w-full h-full aspect-[3/2] object-cover rounded-lg grayscale"
          src={`${supabaseBucket}/profile.JPG`}
          alt="profile-image"
          width={1000}
          height={1000}
        />
      </div>
      <p>
        Hey, I am Ardi. I am currently a tour leader at Cerita Tour & Travel.
        There, I focus on making budget, itinerary and travel planning. I work
        remotely from Gresik, ID
      </p>
      <p>
        When Im not making travel planning, you can find me playing on my PC to
        make some frontend development, organizing events, going to shows with
        my friends and traveling with my camera.
      </p>
      <p>
        Outside of my full-time, I occasionally take on freelance work. If you
        are looking for someone to work with to design and/or develop your web
        app or website, feel free to <a
          class="underline"
          href="mailto:ardi.panda54@gmail.com">drop me a line</a
        >.
      </p>
      <p>
        You can find me on
        <a
          class="underline"
          href="https://github.com/brightybaron/"
          target="_blank"
        >
          Github
        </a>
        and
        <a
          class="underline"
          href="https://www.instagram.com/ardipanda54/"
          target="_blank"
        >
          Instagram
        </a>
      </p>
    </article>
  </div>
</MainLayout>
